<nav class="navbar navbar-expand-lg navbar-light bg-neutral-white">
  <div
    class="container d-flex justify-content-between align-items-center px-3 py-4 position-relative"
  >
    <!-- LOGO -->
    <div class="order-0 mx-lg-auto">
      <a class="navbar-brand" href="index.html">
        <img class="logo" src="../assets/images/logo.webp" alt="TenTen-Logo" />
      </a>
    </div>
    <!-- 購物車 + 漢堡選單 (行動裝置) -->
    <div class="d-flex order-1 align-items-center order-lg-0">
      <a
        href="login.html"
        class="headerBtn bg-primary-20 p-3 br-12 d-lg-none me-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-cart2 text-primary-40"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
          />
        </svg>
      </a>
      <button
        class="navbar-toggler headerBtn bg-primary-20 p-0 border-0"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal-menu"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="material-symbols-outlined text-primary-40 p-4">
          menu
        </span>
      </button>

      <!-- 導航選單 -->
      <div class="collapse navbar-collapse position-absolute start-0" id="menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-lg-flex">
          <li class="nav-item p-4 me-8 fs-6">
            <a class="nav-link text-neutral-100" href="story.html">品牌故事</a>
          </li>
          <li class="nav-item p-4 me-8 fs-6">
            <a class="nav-link text-neutral-100" href="news.html">最新消息</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown p-4">
            <a
              class="nav-link dropdown-toggle no-caret fs-6 fw-700 text-neutral-100"
              href="#"
              id="productList"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >商品列表</a
            >
            <ul
              class="dropdown-menu border-0 br-bl-16 br-br-16 text-center fs-6"
              aria-labelledby="productList"
            >
              <li>
                <a
                  class="dropdown-item p-4 text-neutral-100"
                  href="productList-classic.html"
                  >經典口味</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item p-4 text-neutral-100"
                  href="productList-seasonal.html"
                  >季節限定</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item p-4 text-neutral-100"
                  href="productList-giftbox.html"
                  >甜甜禮盒</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- 會員 + 購物車 (桌機模式) -->
    <div
      class="d-none d-lg-flex align-items-center position-absolute end-0 ms-auto order-lg-2"
    >
      <a href="login.html" class="headerBtn bg-primary-20 p-3 br-12 me-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-person text-primary-40"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
          />
        </svg>
      </a>
      <a href="login.html" class="headerBtn bg-primary-20 p-3 br-12">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-cart2 text-primary-40"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
          />
        </svg>
      </a>
    </div>
  </div>
  <!-- Modal (行動版選單) -->
  <div
    class="modal fade d-lg-none"
    id="modal-menu"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content p-3 modal-height">
        <div
          class="modal-header p-0 border-0 header-height align-items-start bg-primary-tint br-tl-40"
        >
          <button
            type="button"
            class="btn ms-auto p-0"
            data-bs-dismiss="modal"
            aria-label="關閉"
          >
            <div class="position-relative">
              <div
                class="bg-neutral-white br-bl-32 position-relative position-absolute top-0 end-0"
              >
                <span class="material-symbols-outlined text-primary-40 m-7">
                  close
                </span>
                <img
                  src="../assets/images/corner-S.webp"
                  alt="corner"
                  class="position-absolute start-0"
                  style="transform: translateX(-100%) rotate(-90deg)"
                />

                <div>
                  <img
                    src="../assets/images/corner-S.webp"
                    alt="corner"
                    class="position-absolute"
                    style="transform: rotate(-90deg)"
                  />
                </div>
              </div>
            </div>
          </button>
        </div>
        <div class="modal-body bg-primary-tint p-5 br-bl-40 br-br-40">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                href="story.html"
                type="button"
                class="nav-link mb-6 py-3 ps-1 text-neutral-100"
              >
                品牌故事
              </a>
            </li>
            <li class="nav-item">
              <a
                href="news.html"
                type="button"
                class="nav-link mb-6 py-3 ps-1 text-neutral-100"
              >
                最新消息
              </a>
            </li>
            <!-- 下拉選單 -->
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex justify-content-between align-items-center no-caret dropdown-toggle p-0 mb-4 fw-400"
                id="productList"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="py-3 ps-1 text-neutral-100">商品列表</span>
                <span class="material-symbols-outlined" id="dropdownIcon"
                  >keyboard_arrow_down</span
                >
              </a>

              <ul
                class="dropdown-menu border-0 bg-primary-tint"
                aria-labelledby="productList"
              >
                <li>
                  <a
                    class="dropdown-item mx-4 py-3 ps-1 mb-2 text-neutral-100"
                    href="productList-classic.html"
                    >經典口味</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item mx-4 py-3 ps-1 mb-2 text-neutral-100"
                    href="productList-seasonal.html"
                    >季節限定</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item mx-4 py-3 ps-1 text-neutral-100"
                    href="productList-giftbox.html"
                    >甜甜禮盒</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div
          class="modal-footer border-0 d-flex justify-content-center mt-3 mb-6"
        >
          <a
            href="login.html"
            type="button"
            class="btn headerLogin btn-outline-primary-80 br-4 fs-6 text-primary-80 px-8 py-4"
          >
            登入／註冊
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
