<nav class="navbar navbar-expand-lg navbar-light bg-neutral-white">
  <div
    class="container d-flex justify-content-between align-items-center px-3 py-4 position-relative"
  >
    <!-- LOGO -->
    <div class="order-0 mx-lg-auto">
      <a
        class="navbar-brand"
        href="index.html"
      >
        <img
          class="logo"
          src="../assets/images/logo.webp"
          alt="TenTen-Logo"
        />
      </a>
    </div>
    <!-- 購物車 + 漢堡選單 (行動裝置) -->
     <div class="d-flex order-1 align-items-center order-lg-0">
      <a href="#" class="headerBtn bg-primary-20 p-3 br-12 d-lg-none me-6 position-relative"
        data-bs-toggle="modal"
        data-bs-target="#modal-cart"
        aria-controls="cart"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-cart2 text-primary-40"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
          /></svg>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99+</span>
        </a>      
      <button
        class="navbar-toggler headerBtn bg-primary-20 p-0 border-0"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal-menu-profile"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="material-symbols-outlined text-primary-40 p-4"> menu </span>
      </button>

      <!-- 導航選單 -->
      <div class="collapse navbar-collapse position-absolute start-0" id="menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-lg-flex">
          <li class="nav-item p-4 me-8 fs-6"><a class="nav-link text-neutral-100" href="story.html">品牌故事</a>
          </li>
          <li class="nav-item p-4 me-8 fs-6"><a class="nav-link text-neutral-100" href="news.html">最新消息</a></li>
          <!-- Dropdown -->
          <li class="nav-item dropdown p-4">
            <a class="nav-link dropdown-toggle no-caret fs-6 fw-700 text-neutral-100" href="#" id="productList" role="button" data-bs-toggle="dropdown" aria-expanded="false">商品列表</a>
            <ul class="dropdown-menu border-0 br-bl-16 br-br-16 text-center fs-6" aria-labelledby="productList">
              <li><a class="dropdown-item p-4 text-neutral-100" href="productList-classic.html">經典口味</a></li>
              <li><a class="dropdown-item p-4 text-neutral-100" href="productList-seasonal.html">季節限定</a></li>
              <li><a class="dropdown-item p-4 text-neutral-100" href="productList-giftbox.html">甜甜禮盒</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- 會員 + 購物車 (桌機模式) -->
    <div class="d-none d-lg-flex align-items-center position-absolute end-0 ms-auto order-lg-2">
      <ul class="navbar-nav me-auto mb-lg-0 d-none d-lg-flex">
        <li class="nav-item dropdown p-4">
          <a class="nav-link dropdown-toggle no-caret p-0 fs-9 fw-400 text-neutral-100" href="#" id="productList" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="d-inline-flex align-items-center p-4">
              <p class="text-neutral-100 me-3">Hi, 王小明</p>  
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-person text-primary-40"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
                />
              </svg>                              
            </div>
          </a>
          <ul class="dropdown-menu border-0 br-bl-16 br-br-16 text-center fs-6" aria-labelledby="productList">
            <li><a class="dropdown-item p-4 text-neutral-100" href="myInfo.html">個人資訊</a></li>
            <li><a class="dropdown-item p-4 text-neutral-100" href="myFavorite.html">我的收藏</a></li>
            <li><a class="dropdown-item p-4 text-neutral-100" href="myOrders.html">我的訂單</a></li>
            <li><a class="dropdown-item p-4 text-neutral-100" href="index.html" id="logoutBtn">登出</a></li>
          </ul>
        </li> 
      </ul>     
      <a href="#" class="headerBtn bg-primary-20 p-3 br-12 position-relative"
        data-bs-toggle="modal"
        data-bs-target="#modal-cart"
        aria-controls="cart"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-cart2 text-primary-40"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
          /></svg>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99+</span>
      </a>
    </div>
  </div>
  <!-- Modal (行動版選單) -->
  <div class="modal fade d-lg-none" id="modal-menu-profile" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content p-3 modal-height">
        <div
          class="modal-header p-0 border-0 header-height align-items-start bg-primary-tint br-tl-40"
        >
          <button
            type="button"
            class="btn ms-auto p-0"
            data-bs-dismiss="modal"
            aria-label="關閉"
          >
            <div class="position-relative">
              <div
                class="bg-neutral-white br-bl-32 position-relative position-absolute top-0 end-0"
              >
                <span class="material-symbols-outlined text-primary-40 m-7">
                  close
                </span>
                <img
                  src="../assets/images/corner-S.webp"
                  alt="corner"
                  class="position-absolute start-0"
                  style="transform: translateX(-100%) rotate(-90deg)"
                />

                <div>
                  <img
                    src="../assets/images/corner-S.webp"
                    alt="corner"
                    class="position-absolute"
                    style="transform: rotate(-90deg)"
                  />
                </div>
              </div>
            </div>
          </button>
        </div>
        <!-- 會員 -->
        <div class="text-center bg-primary-tint pb-2">
          <div class="d-inline-flex justify-content-center align-items-center br-16 p-4 user-border bg-neutral-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-person text-primary-40 me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
              /></svg>   
            <p class="text-neutral-100">Hi, 王小明</p>         
          </div>
        </div>        
        <div class="modal-body bg-primary-tint p-5 pb-20 br-bl-40 br-br-40">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="story.html" type="button" class="nav-link mb-6 py-3 ps-1 text-neutral-100">
                品牌故事
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-6 py-3 ps-1 text-neutral-100" href="news.html">
                最新消息
              </a>
            </li>
            <!-- 下拉選單 -->
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex justify-content-between align-items-center no-caret dropdown-toggle p-0 mb-6 fw-400"
                id="productList"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="py-3 ps-1 text-neutral-100">商品列表</span>
                <span class="material-symbols-outlined icon-down">keyboard_arrow_down</span>
                <span class="material-symbols-outlined icon-up">keyboard_arrow_up</span>                
              </a>
              <ul
                class="dropdown-menu border-0 bg-primary-tint"
                aria-labelledby="productList"
              >
                <li>
                  <a class="dropdown-item mx-4 py-3 ps-1 mb-2 text-neutral-100" href="productList-classic.html"
                    >經典口味</a
                  >
                </li>
                <li>
                  <a class="dropdown-item mx-4 py-3 ps-1 mb-2 text-neutral-100" href="productList-seasonal.html"
                    >季節限定</a
                  >
                </li>
                <li>
                  <a class="dropdown-item mx-4 py-3 ps-1 mb-6 text-neutral-100" href="productList-giftbox.html">甜甜禮盒</a>
                </li>
              </ul>
            </li>
            <!-- 下拉選單 -->
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex justify-content-between align-items-center no-caret dropdown-toggle p-0 mb-4 fw-400"
                id="user"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="py-3 ps-1 text-neutral-100">會員中心</span>
                <span class="material-symbols-outlined icon-down">keyboard_arrow_down</span>
                <span class="material-symbols-outlined icon-up">keyboard_arrow_up</span>
              </a>

              <ul
                class="dropdown-menu border-0 bg-primary-tint"
                aria-labelledby="user"
              >
                <li>
                  <a class="dropdown-item mx-4 py-3 ps-1 mb-2 text-neutral-100" href="myInfo.html"
                    >個人資訊</a
                  >
                </li>
                <li>
                  <a class="dropdown-item mx-4 py-3 ps-1 mb-2 text-neutral-100" href="myFavorite.html"
                    >我的收藏</a
                  >
                </li>
                <li>
                  <a class="dropdown-item mx-4 py-3 ps-1 mb-2 text-neutral-100" href="myOrders.html">我的訂單</a>
                </li>
                <li>
                  <a class="dropdown-item mx-4 py-3 ps-1 text-neutral-100" href="index.html" id="logoutBtnMb">登出</a>
                </li>                
              </ul>
            </li>            
          </ul>
        </div>
      </div> 
    </div>
  </div>
  <!-- Modal (購物車清單) -->
  <div class="modal fade" id="modal-cart" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content px-3 py-4 br-24 p-lg-10">
        <div class="modal-header border-0 d-flex justify-content-between align-items-center p-0 ps-3 mb-5">
          <p class="text-neutral-100 fs-6 fs-lg-4">購物車清單</p> 
          <button
            type="button"
            class="btn p-0"
            data-bs-dismiss="modal"
            aria-label="關閉"
          >
            <div
              class="bg-neutral-white top-0 end-0"
            >
              <span class="material-symbols-outlined text-neutral-60 m-4">
                close
              </span>
            </div>
          </button>
        </div>
        <!-- 行動版 -->
        <div class="modal-body p-0 d-lg-none">
          <div class="mb-2 pb-6">
            <div class="border-bottom border-neutral-60 px-4 py-2">
                <p class="text-neutral-60">品項</p>
            </div>
            <ul class="px-3 py-2 mb-4">
                <li class="mb-4">
                  <div class="d-flex justify-content-between py-4">
                    <p class="text-neutral-100">莓果甜甜</p>
                    <p class="text-neutral-60">$ 65</p>
                  </div>
                   <div class="d-flex justify-content-between align-items-center py-4">
                    <div class="br-8 border border-neutral-40 d-inline-flex justify-content-between align-items-center">
                      <button class="btn-none">
                        <span class="material-symbols-outlined text-neutral-100 p-3">remove</span>
                      </button>
                      <span class="text-neutral-100 py-3">2</span>
                      <button class="btn-none">
                        <span class="material-symbols-outlined text-neutral-100 p-3">add</span>
                      </button>
                    </div>
                    <p class="text-neutral-100 fw-bold">NT$ <span>190</span></p>
                  </div>                 
                </li>
                <li>
                  <div class="d-flex justify-content-between py-4">
                    <p class="text-neutral-100">白雪綿霜莓</p>
                    <p class="text-neutral-60">$ 95</p>
                  </div>
                   <div class="d-flex justify-content-between align-items-center py-4">
                    <div class="br-8 border border-neutral-40 d-inline-flex justify-content-between align-items-center">
                      <button class="btn-none">
                        <span class="material-symbols-outlined text-neutral-100 p-3">remove</span>
                      </button>
                      <span class="text-neutral-100 py-3">1</span>
                      <button class="btn-none">
                        <span class="material-symbols-outlined text-neutral-100 p-3">add</span>
                      </button>
                    </div>
                    <p class="text-neutral-100 fw-bold">NT$ <span>95</span></p>
                  </div>                 
                </li>         
                <li>
                  <div class="d-flex justify-content-between py-4">
                    <p class="text-neutral-100">莓果夾心</p>
                    <p class="text-neutral-60">$ 95</p>
                  </div>  
                   <div class="d-flex justify-content-between align-items-center py-4">
                    <div class="br-8 border border-neutral-40 d-inline-flex justify-content-between align-items-center">
                      <button class="btn-none">
                        <span class="material-symbols-outlined text-neutral-100 p-3">remove</span>
                      </button>
                      <span class="text-neutral-100 py-3">1</span>
                      <button class="btn-none">
                        <span class="material-symbols-outlined text-neutral-100 p-3">add</span>
                      </button>
                    </div>
                    <p class="text-neutral-100 fw-bold">NT$ <span>95</span></p>
                  </div>                 
                </li>                         
            </ul>            
          </div> 
          <div class="d-flex justify-content-between border-top border-neutral-60">
            <p class="text-neutral-100 px-3 py-6">合計金額</p>
            <p class="text-neutral-100 fw-bold px-3 py-6 fs-5">NT$ <span>320</span></p>
          </div> 
          <div class="modal-footer border-0 p-0 py-4">
            <a class="btn br-4 headerCart btn-outline-primary-80 bg-neutral-white text-primary-80 px-8 py-4 fs-6" href="cart.html">立即購買</a>
          </div>
        </div>
        <!-- 桌面版 -->
        <div class="modal-body p-0 d-none d-lg-flex flex-column">
          <div class="mb-3">
            <div class="border-bottom border-neutral-60 mb-5 text-start">
              <div class="fs-T-S text-neutral-60 d-flex align-items-center px-3 py-2">
                <span class="flex-fill">名稱</span>
                <span class="flex-fill">單價</span>
                <span class="flex-fill">數量</span>
                <span class="flex-fill">小計</span>
                <span class="flex-fill text-center">刪除</span>
              </div>
            </div>
            <div class="mb-3">
              <div class="fs-T-S text-neutral-60 d-flex align-items-center px-3 py-2 text-start">
                <span class="flex-fill text-neutral-100 fs-T-M">莓果甜甜</span>
                <span class="flex-fill text-neutral-100 fs-T-M">$65</span>
                <span class="flex-fill">
                  <div class="br-8 border border-neutral-40 d-inline-flex justify-content-between align-items-center">
                    <button class="btn-none">
                      <span class="material-symbols-outlined text-neutral-100 p-3">remove</span>
                    </button>
                    <span class="text-neutral-100 py-3 fs-T-M">2</span>
                    <button class="btn-none">
                      <span class="material-symbols-outlined text-neutral-100 p-3">add</span>
                    </button>
                  </div>
                </span>
                <span class="flex-fill text-neutral-100 fw-bold fs-6">NT$ 130</span>
                <span class="flex-fill d-flex justify-content-center">
                  <button class="btn-none p-4">
                    <span class="material-symbols-outlined text-neutral-60">delete</span>
                  </button>
                </span>               
              </div>
            </div>         
            <div class="mb-3">
              <div class="fs-T-S text-neutral-60 d-flex align-items-center px-3 py-2 text-start">
                <span class="flex-fill text-neutral-100 fs-T-M">白雪綿霜莓</span>
                <span class="flex-fill text-neutral-100 fs-T-M">$95</span>
                <span class="flex-fill">
                  <div class="br-8 border border-neutral-40 d-inline-flex justify-content-between align-items-center">
                    <button class="btn-none">
                      <span class="material-symbols-outlined text-neutral-100 p-3">remove</span>
                    </button>
                    <span class="text-neutral-100 py-3 fs-T-M">1</span>
                    <button class="btn-none">
                      <span class="material-symbols-outlined text-neutral-100 p-3">add</span>
                    </button>
                  </div>
                </span>
                <span class="flex-fill text-neutral-100 fw-bold fs-6">NT$ 95</span>
                <span class="flex-fill d-flex justify-content-center">
                  <button class="btn-none p-4">
                    <span class="material-symbols-outlined text-neutral-60">delete</span>
                  </button>
                </span>               
              </div>
            </div>
            <div class="mb-3">
              <div class="fs-T-S text-neutral-60 d-flex align-items-center px-3 py-2 text-start">
                <span class="flex-fill text-neutral-100 fs-T-M">莓果夾心</span>
                <span class="flex-fill text-neutral-100 fs-T-M">$95</span>
                <span class="flex-fill">
                  <div class="br-8 border border-neutral-40 d-inline-flex justify-content-between align-items-center">
                    <button class="btn-none">
                      <span class="material-symbols-outlined text-neutral-100 p-3">remove</span>
                    </button>
                    <span class="text-neutral-100 py-3 fs-T-M">1</span>
                    <button class="btn-none">
                      <span class="material-symbols-outlined text-neutral-100 p-3">add</span>
                    </button>
                  </div>
                </span>
                <span class="flex-fill text-neutral-100 fw-bold fs-6">NT$ 95</span>
                <span class="flex-fill d-flex justify-content-center">
                  <button class="btn-none p-4">
                    <span class="material-symbols-outlined text-neutral-60">delete</span>
                  </button>
                </span>               
              </div>
            </div>            
          </div>
          <div class="d-flex justify-content-between border-top border-neutral-60 mb-5">
            <p class="text-neutral-100 px-12 py-6">合計金額</p>
            <p class="text-neutral-100 fw-bold px-9 py-6 fs-5">NT$ <span>320</span></p>
          </div>   
          <div class="modal-footer border-0 p-0">
            <a class="btn br-4 headercart btn-outline-primary-80 bg-neutral-white text-primary-80 px-8 py-4 fs-6" href="cart.html">立即購買</a>
          </div>
        </div>
      </div>
  </div>  
</nav>