// LOGO 尺寸設定
.logo {
  max-height: 42px;
  height: auto;
  width: auto;
}

@media (min-width: 992px) {
  .logo {
    max-height: 120px;
  }
}

.header-height {
  height: 120px;
}

.no-caret::after {
  display: none !important;
}

.hover-text:hover {
  font-weight: 700;
  color: $primary-40;
}

.dropdown-focus .dropdown-menu {
  display: none;
  position: relative;
}

// modal 顯示向上/向下箭頭
.icon-down {
  display: inline;
}
.icon-up {
  display: none;
}

// 下拉切換 icon
.nav-link.show .icon-down {
  display: none;
}
.nav-link.show .icon-up {
  display: inline;
}

// 按鈕切換
.headerCart.btn-outline-primary-80:active,
.headerCart.btn-outline-primary-80:hover {
  color: #ffffff !important;
  background-color: #e89018 !important;
  border-color: #e89018 !important;
}

.headerLogin.btn-outline-primary-80:active,
.headerLogin.btn-outline-primary-80:hover {
  color: #ffffff !important;
  background-color: #e89018 !important;
  border-color: #e89018 !important;
}

// 商品列表的下拉選單對齊
#productList + .dropdown-menu {
  min-width: 100%;
}

// nav 點擊時顯現 border
.nav-item .nav-link {
  border-bottom: 2px solid transparent;
}

.nav-link.show.fw-700 {
  font-weight: 700;
  display: inline-block;
  border-bottom: 2px solid $primary-40;
}

.nav-link.show.fw-400 {
  font-weight: 400;
  display: inline-block;
  border-bottom: 2px solid $primary-40;
}

// 移除漢堡選單點擊時的邊框
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

// 數量的按鈕樣式去除
.btn-none {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon:focus {
  outline: none;
}

// 購物車 modal (桌面版)
.fs-T-S {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: $neutral-80;
}

.fs-T-M {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: $neutral-100;
}

// ICON 狀態
.headerBtn.bg-primary-20:hover,
.headerBtn.bg-primary-20:active {
  background-color: $primary-40 !important;
}

.headerBtn.bg-primary-20:hover svg,
.headerBtn.bg-primary-20:active svg {
  color: $neutral-white !important;
}

// 選單狀態
.navbar .nav-link.text-neutral-100 {
  display: inline-block;
  color: $neutral-100;
}

.navbar .nav-link.text-neutral-100:hover,
.navbar .nav-link.text-neutral-100:active {
  color: $primary-40 !important;
  font-weight: 700;
  border-bottom: 2px solid $primary-40;
}

.header-dropdown-btn {
  line-height: 2;
  min-height: auto;
  box-shadow: none;
  vertical-align: middle;
}

.header-dropdown-btn:focus{
  box-shadow: none;
}

.header-dropdown-btn:active,
.header-dropdown-btn:hover {
  box-shadow: none;
  color: #e89018 !important;
  font-weight: 700;
  border-bottom: 2px solid #e89018!important;
}